header>img {
    margin: 5px;
}

header>a {
    text-decoration: none;
    font-size: 2em;
    border: 2px solid #674A2A;
    border-radius: 10px;
    color: black;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:#ebd0b2;

    &:hover {
        opacity: 50%;
    }
}


footer {
    text-align: center;
    font-size: 0.75em;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
    max-width: 100%;

    &>section {

        margin-left: 3%;
        width: 33%;
        padding: 35px;
        border: solid 1px #674A2A;
        border-radius: 25px;
        background-color: #FFF;

        &>h2 {
            letter-spacing: 3px;
            font-size: 2.5em;
        }

        &>p {
            font-size: 2em;
        }

        &>ul {
            font-size: 1.5em;
        }

        &>a {
            text-decoration: none;
            font-size: 1.5em;
            border: 2px solid #674A2A;
            border-radius: 10px;
            color: white;
            padding: 5px;
            background-color: #674A2A;

            &:hover {
                opacity: 50%;
            }
        }
    }

    &>img {
        margin-left: auto;
        max-width: 60%;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {

    h2 {
        font-size: 0.5em;
    }

    .info {
        display: block;
        justify-content: center;
        &>section {
            margin: 20px auto;
            width: 70vw;
        }

        &>img {
            display: none;
        }
    }
}
