/* logo placement */
header>img {
    margin: 5px;
    margin-left: 8px;
    border-radius: 10px;
}

/* launch in browser button */
header>a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid #275734;
    border-radius: 10px;
    color: #275734;
    background-color: #b5cfaf;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    &:hover {
        opacity: 75%;
    }
}


footer {
    text-align: center;
    font-size: 0.75em;
}

/* paw print styling */
.image-container {
    width: 100%;
    max-width: 659.1px;
    margin: 0 auto;
    z-index: 2;
}

.paw-print {
    width: 527.28px;
    height: 524.72px;
    position: absolute;
    left: -50px;
    top: 10px;
    overflow: visible;
    z-index: 3;
}

.ellipse-2, .ellipse-3, .ellipse-4, .ellipse-5 {
    background: #628745;
    border-radius: 50%;
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 3; /* Ensure the ellipses are above other elements */
}

.ellipse-2 {
    background: #628745;
    border-radius: 50%;
    width: 182.4px;
    height: 248px;
    position: absolute;
    left: 30px;
    top: 630px;
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
    transform-origin: 0 0;
    transform: rotate(-22.688deg) scale(1, 1);
  }
  .ellipse-5 {
    background: #628745;
    border-radius: 50%;
    width: 182.4px;
    height: 248px;
    position: absolute;
    left: 510px;
    top: 305.38px;
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
    transform-origin: 0 0;
    transform: rotate(-63.36deg) scale(1, 1);
  }
  .ellipse-3 {
    background: #628745;
    border-radius: 50%;
    width: 190.272px;
    height: 252.144px;
    position: absolute;
    left: 280px;
    top: 640.94px;
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
    transform-origin: 0 0;
    transform: rotate(-22.688deg) scale(1, 1);
  }
  .ellipse-4 {
    background: #628745;
    border-radius: 50%;
    width: 190.272px;
    height: 252.144px;
    position: absolute;
    left: 470.48px;
    top: 510px;
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
    transform-origin: 0 0;
    transform: rotate(-49.304deg) scale(1, 1);
  }
  .dev-dog-can-help-you {
    color: #275734;
    text-align:center;
    font-family: "SulphurPoint-Regular", sans-serif;
    font-size: 50px;
    letter-spacing: 0.12em;
    font-weight: 400;
    position: absolute;
    left: 70px;
    top: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 4;
  }

/* app descriptions */
.info {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 775px;
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.launch h2 {
    font-size: 2em;
    color:#628745
}
.demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center align text */
    width: 100%;
    margin: 0 auto;
}

.demo-container img {
    box-shadow: 0 4px 8px rgba(39, 87, 52, 1); /* Add shadow behind the images */
    margin-bottom: 25px; /* Add some space below each image for better spacing */
    align-items: center;
}

.demo-container h2 {
    white-space: nowrap; /* Prevent text from breaking into the next line */
    font-size: 2.5em;
    color:#275734;
    align-items: center;
}

@media screen and (max-width: 768px) {

    h2 {
        font-size: 0.5em;
    }

    .info {
        display: block;
        justify-content: center;

        &>section {
            margin: 20px auto;
            width: 70vw;
        }

        &>img {
            left: 300px;
            display: none;
        }
    }
}
