.container{
    width: 80vw;
    font-size: 1em;
    font-weight: bold;
}

img {
    max-width: 128px;
}

ul{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 10%;

    list-style-type: none;

    width: 80vw;

}

li {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

button {
    border-color: #4b3e30;
    border-width: 5px;
    border-style: none;
    
    background-color: #eac59a;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: 5px;

    font-size: 80%;
}

#new-project-name{
    width: auto;
}

h2{
    margin-left: 20px;
}

.add-project-button{
    font-size: 100%;
}

#project-name-error-message {
    background-color: rgba(252, 31, 31, 0.5);
    border-style: solid;
    border-color: rgba(252, 31, 31, 0.5);
    border-radius: 5px;
    margin: 0px;
}

.project-name {
    text-align: center;
    color:#3D5D46;
    margin: 0px;
}

.project-link {
    margin: 0px;
}
.js-only {
    display: none;
}