#task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.task-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.task-item>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 12px;
    border: 1px solid black;
}

.todo-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

#toggle-sidebar-button{
    color: beige;

}

#todo-list.closed .todo-grid {
    display: none;
}

#toggle-sidebar-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #556b2f;
    font-size: 24px;
}

.todo-grid {
    background-color: inherit;
    border: 1px solid #556b2f;
    border-radius: 5px;
    padding: 10px;
}

#new-task-name {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #556b2f;
    border-radius: 5px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    border: 1px solid #556b2f;
    border-radius: 5px;
    margin-bottom: 5px;
    
}

.task-item span {
    flex-grow: 1;
    margin-left: 10px;
}

.task-item button {
    background: none;
    border: none;
    cursor: pointer;
    color: #556b2f;
}

